body{
    background: linear-gradient(to right,red,yellow);
}
body .container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0.8rem;   
}

body .container h1{
    position: relative;
    align-self: auto;
    font-size: 50px;
    letter-spacing: 0.5rem;
}

.color-code{
    letter-spacing: 0.2rem;
    font-family: monospace;
}